* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.site-container {
    margin: auto;
    width: min(100%, 1200px);
    height: 100vh;
    display: flex;
}

aside {
    background-color: white;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

aside h1 {
    padding: 16px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2em;
}

aside ul {
    list-style-type: none;
}

aside ul li a {
    text-decoration: none;
    color: gray;
    padding: 12px 16px;
    font-size: larger;
    display: block;
}

aside ul li a:hover {
    color: black;
    background-color: #8d8c8c;
}

.site-descop {
    width: calc(100% - 250px);
    overflow: auto;
}

.site-descop::-webkit-scrollbar {
    width: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

header .left span,
header .right i {
    display: inline-block;
    padding: 16px;
    font-size: x-large;
}

main {
    background-color: white;
}

.banner {
    position: relative;
}

.banner .banner_img {
    margin: 15px;
}

.banner .banner_heading {
    position: absolute;
    top: 10%;
    left: 30px;
}

.banner .banner_heading h1 {
    font-size: 4em;
    color: white;
    font-weight: 300;
    padding: 8px 16px;
}

.banner .banner_heading p {
    padding: 8px 16px;
    font-size: 2.3em;
    color: white;
}

.banner .banner_heading a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 16px 32px;
    margin: 8px 16px;
    display: inline-block;
    font-size: larger;
}

.banner .banner_heading a:hover {
    background-color: #ddd;
    color: black;
}

.b_items>span {
    padding: 15px;
    font-size: larger;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.container .container_item {
    flex: 1 1 calc(25% - 20px);
}

.container_img img {
    filter: grayscale(50%);
}

.container_about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    padding: 10px 0;
}

.container_item:nth-last-child(2) .container_about p strong {
    color: #704F4C;
}

.subscribe {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 30px;
}

.subscribe .subscribe_email input {
    width: 100%;
    padding: 12px;
}

.subscribe .subscribe_email button {
    padding: 12px 20px;
    display: inline-block;
    margin: 16px 0;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
}

.subscribe .subscribe_email button:hover {
    background-color: #ddd;
    color: black;
}

.container_last {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    background-color: #F1F1F1;
}

.container_last .container_item:first-child {
    text-align: center;
}

.container_last .container_item:first-child h3,
.container_last .container_item:first-child p {
    padding: 5px 16px;
    font-weight: normal;
}

.container_last .container_item .container_form {
    display: flex;
    flex-direction: column;
}

.container_last .container_item .container_form input,
.container_last .container_item .container_form button {
    padding: 8px 16px;
    margin: 5px 15px;
    width: 100%;
    border: none;
    border: 1px solid #ddd;
    background-color: white;
}

.container_last .container_item .container_form button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.container_last .container_item .container_form button:hover {
    background-color: #8d8c8c;
    color: black;
}

.container_last .container_item:nth-child(2) h3 {
    padding: 5px 16px;
    font-weight: normal;
    text-align: center;
}

.container_last .container_item:nth-child(2) ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container_last .container_item:nth-child(2) ul li {
    font-size: small;
}

.container_last .container_item:nth-child(2) ul li a {
    padding: 6px 16px;
    display: inline-block;
    color: black;
}

.container_last .container_item:last-child .container_top>h3 {
    padding: 5px 16px;
    font-weight: normal;
}

.container_last .container_item:last-child .container_top>ul {
    list-style-type: none;
}

.container_last .container_item:last-child .container_top>ul li {
    font-size: small;
    padding: 6px 16px;
    color: black;
}

.container_last .container_item:last-child .container_bottom>h3 {
    padding: 5px 16px;
    font-weight: normal;
}

.container_last .container_item:last-child .container_bottom>ul {
    list-style-type: none;
}

.container_last .container_item:last-child .container_bottom>ul li {
    font-size: small;
    padding: 6px 16px;
    color: black;
}

.container_last .container_item:last-child .container_bottom>ul li:last-child {
    font-size: large;
}
footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
footer p a {
    color: inherit;
}

@media (max-width: 992px) {
    aside {
        display: none;
    }

    .site-descop {
        width: 100%;
    }

    .container .container_item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .banner .banner_heading h1:nth-child(1) {
        font-size: 2em;
    }

    .banner .banner_heading p:nth-child(2) {
        display: none;
    }

    .banner .banner_heading a:nth-child(3) {
        padding: 8px 16px;
        font-size: 1em;
    }
}